.container {
  padding: 1rem 2rem 2rem 2rem;
}

.title {
  font-size: 1.5rem;
  text-align: center;
}

.paragraph {
  padding: 1rem 1rem 1.5rem 1rem;
}

.button-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
